<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dojo</title>
</head>

<body>

    <!doctype html>
    <meta charset="utf-8">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <script src="//d3plus.org/js/d3.js"></script>
    <script src="//d3plus.org/js/d3plus.js"></script>
    <script src="/static/graph1.js"></script>

    <div id="viz"></div>


</body>
